# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Quality Checks
concurrency:
  group: Quality-Checks-${{ github.head_ref }}
  cancel-in-progress: true
on:
  pull_request:
jobs:
  quality-checks:
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v3.2.0

      - name: Use Node.js 20.18.0
        uses: actions/setup-node@v4
        with:
          node-version: 20.18.0
          cache: 'npm'
    
      - name: Install dependencies
        run: npm install
      
      - name: Run tests
        run: npm run test

      